
<!--{block return}-->

<!-- 
    execute script in share_to_wechat.inc.php
-->
<a href="javascript:;" onclick="showWindow('share_to_wechat', 'plugin.php?id=share_to_wechat&threadqr={$_G[tid]}&share=yes&chl=$urlToEncode')"><i><img src="source/plugin/share_to_wechat/images/weixin.png" />{lang share_to_wechat:wechat_share}</i></a>


<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

<script type="text/javascript">
wx.config({
	debug: true,
    appId: '$signPackage["appId"]',
    timestamp: $signPackage["timestamp"],
    nonceStr: '$signPackage["nonceStr"]',
    signature: '$signPackage["signature"]',
    jsApiList: [
    	'scanQRCode',
		  'checkJsApi',
		  'onMenuShareTimeline',
		  'onMenuShareAppMessage',
		  'onMenuShareQQ',
		  'onMenuShareWeibo'
    ]
});

var doc = document.getElementsByClassName("t_f")[0].innerText;
doc = doc.replace(/\s+/g,"");


wx.ready(function () {
    // 在这里调用 API
    wx.onMenuShareTimeline({
        title: {if $content[title]}'$content[title]'{else}document.title{/if},
        link: {if $signPackage["url"]}'$signPackage["url"]'{else}window.location.href{/if},
        imgUrl: "$content[imgUrl]",
        success: function () {
            alert('success');
        },
        cancel: function () {
          alert('error');
        }
    });
     wx.onMenuShareAppMessage({
        title: {if $content[title]}'$content[title]'{else}document.title{/if},
        desc: {if $content[desc]}'$content[desc]'{else}doc{/if},
        link: {if $signPackage["url"]}'$signPackage["url"]'{else}window.location.href{/if},
        imgUrl: "$content[imgUrl]",
        success: function () {
          alert('success');
        },
        cancel: function () {
          alert('error');
        }
    });


  });


/*wx.ready(function () {

    
    var share_config = {
      "imgUrl": '$content[imgUrl]',
      "desc": '$content[desc]',
      "title": '$content[title]',
      "link": '$signPackage["url"]',
      "success":function(){},
      "cancel": function(){}
    };

    wx.onMenuShareTimeline();
    wx.onMenuShareAppMessage(share_config);
    wx.onMenuShareQQ(share_config);
    wx.onMenuShareWeibo(share_config);
});*/

</script>
<!--{/block}-->


